.calendar_wrap {
	border: 2px solid #ccc;
	margin: 15px 15px;
	min-height: 50px;
	height: fit-content;
}

.layer_calendar {
	background-color: #fff;
	padding: 10px;
	padding-top: 0px;
	margin: 1px;
	border: none;
}

td {
	width: 100px;
	text-align: left;
	padding: 4px 0px 10px 4px;
	font-weight: 600;
	font-size: 14px;
}

tr:nth-child(1) td {
	text-align: center;
	vertical-align: middle;
	padding: 20px 4px;
	font-weight: 600;
	font-size: 18px;
}

.td_number {
	position: relative;
	right: -15px;
	font-size: 10px;
	padding: 0px 7px;
	border-radius: 10px;
	background-color: #1DA3AA;
	color: white;
	opacity: 0.4;
}

.td_number2 {
	position: relative;
	right: -15px;
	font-size: 10px;
	padding: 0px 7px;
	border-radius: 10px;
	background-color: #1DA3AA;
	color: white;
}

.calender_header {
	border-top: 1px solid #ccc;
	height: 28px;
	padding: 0px 8px;
	background-color: #F3F3f6;
	margin: 1px;
	font-weight: 600;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

ul.calender_list {
	max-height: 360px;
	overflow: auto;
}

ul.calender_list>li {
	border-top: 1px solid #ccc;
	background-color: white;
	padding: 10px 15px;
}

.list_title {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 10px;
}

ul.list_item>li {
	font-size: 13px;
	padding-left: 70px;
	padding-bottom: 10px;
}

.list_desc {
	opacity: 0.4;
}