.calendar_wrap {
	border: 2px solid #ccc;
	margin: 15px 15px;
	min-height: 50px;
}

.layer_calendar {
	background-color: #fff;
	padding: 10px;
	padding-top: 0px;
	margin: 1px;
	border: none;
}

td {
	width: 100px;
	text-align: left;
	padding: 4px 0px 15px 4px;
	display: table-cell;
	vertical-align: inherit;	
}

tr:nth-child(1) td{
	text-align: center;
	vertical-align: middle;
	padding: 20px 4px;
	font-weight: 600;
	font-size: 18px;
}
