.body_wrap{	
	min-width: 748px;
	min-height: 700px;
	background-color: #e8e8e8;
	display: flex;
	flex-direction: column;
}

.home_side {
	width: 250px;
	min-width: 250px;
	min-height: 100px;
	margin-left: 13px;
	margin-top: 10px;
	background-color: white;
	border:2px solid #ccc;
}

.profile{
	display: flex;
	padding: 15px;
}

.profile_wrap {
	font-size: 14px;
}

.profile-column img {
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.profile-column .profile-info {
	height: 80px;
	width: 130px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}

.profile-info .name{
	font-weight: 600;
}

.profile-info span:not(:nth-child(1)) {
	opacity: 0.6;
}

.summary-approval,
.summary-calendar {
	padding: 15px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #ccc;
}

.approval-column:nth-child(1),
.calendar-column:nth-child(1) {
	font-weight: 600;
}

.approval-column:nth-child(2),
.calendar-column:nth-child(2) {
	opacity: 0.6;
}


