
.home_side {
	width: 250px;
	min-width: 250px;
	min-height: 100px;
	margin-left: 13px;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
}

/* profile 영역 */
.profile_wrap {
	font-size: 14px;	
	background-color: white;
	border:2px solid #ccc;
}

.profile{
	display: flex;
	padding: 15px;
}


.profile-column img {
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.profile-column .profile-info {
	height: 80px;
	width: 130px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}

.profile-info .name{
	font-weight: 600;
}

.profile-info span:not(:nth-child(1)) {
	opacity: 0.6;
}

.summary-approval,
.summary-calendar {
	padding: 15px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #ccc;
}

.approval-column:nth-child(1),
.calendar-column:nth-child(1) {
	font-weight: 600;
}

.approval-column:nth-child(2),
.calendar-column:nth-child(2) {
	opacity: 0.6;
}

/* organogram 영역 */
.organogram {
	width: 250px;
	margin-top: 15px;
	padding: 10px;
	background-color: #434343;
	border: 1px solid #444;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
}

.search_wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
}

.search {	
	background-color: #2e2e2e;
	border: 1px solid #4d4f50;
	width: 170px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: white;
	height: 24px;
}

.search-column i {
	font-size: 24px;
	font-weight: 600;
	color: #B2B6C0;;
}

.search-column i:hover {
	color: lightgrey;
}

.tab_wrap {
	margin-top: 10px;
	font-size: 12px;
	display: none;
}

.content_tab_wrap {
	height: 350px;
	width: 100%;
	min-height: 110px;
	border: 1px solid #bbb;
	border-radius: 0 0 5px 5px;
	overflow-y: auto;
	margin: 0;
	background-color: #fafafa;
}