@import url("https://fonts.googleapis.com/css?family=Open+Sans:300:400,600&display=swap");
@import "reset.css";
@import "header.css";
@import "side.css";

* {
  box-sizing: border-box;
}

body {
  background-color: white;  
  color: #020202;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
}

.menu-item a:hover {
  color: white;
}

.wrap {
  min-width: 1000px;
}

.body_wrap{	
	min-width: 748px;
	min-height: 700px;
	background-color: #e8e8e8;
	display: flex;
}


.body_content {
  min-width: 748px;
  min-height: 500px;
  padding-bottom: 45px;
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}
